<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.student_208_308.web_demo.dao.ManagerDao">

    <resultMap id="managerMap" type="com.qf.student_208_308.web_demo.pojo.Manager">
        <id column="manager_id" property="managerId"></id>
        <id column="manager_login_pwd" property="managerLoginPwd"></id>
        <id column="manager_name" property="managerName"></id>
        <id column="manager_gender" property="managerGender"></id>
        <id column="manager_tel" property="managerTel"></id>
        <id column="manager_desc" property="managerDesc"></id>
    </resultMap>
    <select id="selectByIdAndPwd" resultMap="managerMap">
        select * from tb_manager where manager_id = #{mid} and manager_login_pwd = #{pwd}
    </select>
</mapper>